

        body {
            background-image: url('watergiphy.gif');
            background-color: white;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        
        h1 {
            color: black;
            padding: 20px 0;
            display: inline-block;
        }
        
        h2 {
            color: blue;
        }
        
        p {
            font-size: 20px;
        }
    </style>

