/* Set the background color of the entire page to gray */
body {
    background-color: #808080; 
    display:flex;
    display:block;
    font-family: Arial, sans-serif; /* Optional: sets a nice font */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    text-align: center; /* Centers the text horizontally, This is in the parent element and applied to the whole body*/
}

/* Center the header */
h1 {
    color: white; /* Optional: set text color to white for better contrast */
    padding: 20px 0; /* Optional: adds some padding around the header */

}

h2 {
    color:black; 
}

p {
    
    display: block; /* Makes the outline only as long as the content */
}

.Assignments{
    margin: 0 auto;
    width: 80%;
}


footer{
    margin-top: 20px;
    padding: 20px 0;
    background-color: darkgray;
    width:100%;
    position: absolute;
    bottom:0;

}
