/* Resetting margin and padding for html, body and all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding/border are included in element's width/height */
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: grey; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    text-align: center; /* Centers the text horizontally, This is in the parent element and applied to the whole body*/
    background-image: url('river.png');
    background-size: cover; /*makes it so it cover entire background*/
    background-attachment: fixed; /*makes it so the image doesn't scroll as screen scrolls */
}


h1 {
    color: blue; /* Optional: set text color to white for better contrast */
    padding: 5px 0; /* Optional: adds some padding around the header */
}

h2 {
    color:blue; 
}

p {
    display: block; /* Makes the outline only as long as the content */
    font-size: 20px;
}
header {

    background-color: lightblue;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 0;
    margin:0;
    width:100%;
}



#text-container {
    border: 2px solid black;
    background-color: white;
    padding-top: 10px;
    margin: 10px auto;
    width: 80%;
    font-size:20px;
}

#infoTable{
    width: 80%;
    margin: 10px auto;
    font-size:20px;
}

#selection {
    border: 2px solid black;
    background-color: white;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    font-size: 20px;
}

#Series_Type {
    font-size:20px ;
}
#selection label, #selection option {
    font-size: 20px;
    font-weight: bold;

}


#map {
    height: 600px;  /* Set the height of the map */
    width: 80%;    /* Map will take up the full width */
    margin: 0 auto; /* Center the map */
}


#forecast-container {
    display:none;
    border: 2px solid black;
    background-color: white;
    padding: 10px;
    margin: 10px auto;
    overflow:auto; 
    max-height: 700px;;
    width:80%;
    color: black;
}

#timeseries-datatable {
    width: 80%;
    margin: 10px auto;
    border-collapse: collapse;
    border: 1px solid #dee2e6;
  }
  
  
  #streamflowChart {
    margin-top: 20px, auto;
    width:100%;
    margin:auto;
  }


  table {
    width: 100%;
    border-collapse: collapse; 
    margin: 20px 0; /* Adds some space above and below the table */
}

th, td {
    border: 1px solid #dee2e6; 
    padding: 12px; 
    text-align: center; 
    background-color: #f9f9f9; 
}

th {
    background-color: blue; /* Dark green background for header */
    color: white; /* White text for header */
    font-weight: bold; /* Make header text bold */
}

footer {
    background-color: lightblue; /* Dark gray background */
    color: black; /* White text color */
    text-align: center; /* Center the text horizontally */
    padding: 10px 0; /* Padding for the top and bottom of the footer */
    bottom: 0; /* Align the footer to the bottom of the page */
    left: 0; /* Align the footer to the left edge */
    width: 100%; 
    font-size: 14px; /* Font size */
  }

  